.carouselGridContainer {
  margin: 0 2rem;
}

.carouselGridMain {
  display: grid;
  grid-template-columns: repeat(14, minmax(2rem, 1fr));
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem;

  &__item {
    &--img {
      cursor: pointer;
      width: 100%;
      height: 100%;
      object-fit: fill;
      border-radius: 0.5rem;
    }

    &--1 {
      grid-column: 1/11;
      grid-row: 1/-1;
    }

    &--2 {
      grid-column: 11/13;
      grid-row: 1/2;
    }

    &--3 {
      grid-column: 13/15;
      grid-row: 1/2;
    }

    &--4 {
      grid-column: 11/13;
      grid-row: 2/3;
    }

    &--5 {
      grid-column: 13/15;
      grid-row: 2/3;
    }
  }
}

.carouselGridSub {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  grid-gap: 1rem;
  margin-top: 2rem;

  &__item {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1rem;
    border: 0.0625rem solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    cursor: pointer;

    img {
      width: 80%;
      height: 80%;
      object-fit: cover;
    }
  }
}
