.aboutContainer {
  margin: 0 2rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
}

.aboutTitle {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #5a5f66;
  margin-bottom: 2rem;
}

.aboutDisclaimer {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #a8aaad;
  margin-bottom: 2rem;
  font-style: italic;
}

.aboutText {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.3rem;
  color: #5a5f66;
}
