*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 16px is browser default */
  font-size: 62.5%; /* 1rem = 10px; 10px/16px = 62.5% */
}

body {
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.container {
  display: grid;
  grid-template-rows:
    [header-start] min-content
    [header-end carouselGrid-start] min-content [carouselGrid-end recommended-start] 80vh [recommended-end]
    repeat(2, 45vh)
    [eid-start] min-content [eid-end]
    repeat(2, 45vh)
    [brands-start] 20vw [brands-end]
    repeat(2, min-content);
  grid-gap: 2rem;
}

.recommended {
  margin: 0 2rem;
  background-color: brown;
}

.sponsoredProducts {
  margin: 0 2rem;
  background-color: cadetblue;
}

.todaysDeals {
  margin: 0 2rem;
  background-color: chartreuse;
}

.eidEssentials {
  margin: 0 2rem;
  background-color: chocolate;
}

.bestSelling {
  margin: 0 2rem;
  background-color: crimson;
}

.variety {
  margin: 0 2rem;
  background-color: darkgoldenrod;
}

.brands {
  margin: 0 2rem;
  background-color: darkgreen;
}

.about {
  margin: 0 2rem;
  background-color: darkred;
}

.footer {
  background-color: indianred;
}
