*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 16px is browser default */
  font-size: 62.5%; /* 1rem = 10px; 10px/16px = 62.5% */
}

body {
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.container {
  display: grid;
  grid-template-rows:
    [header-start] min-content
    [header-end carouselGrid-start] min-content [carouselGrid-end recommended-start]
    min-content [recommended-end best-selling-start]
    62vh [best-selling-end todaysDeal-start]
    53vh [todaysDeal-end midAdvert-start]
    min-content [midAdvert-end variety-start]
    55vh [variety-end brands-start]
    20vw [brands-end]
    repeat(2, min-content);
  grid-gap: 2rem;
}

.horizontalLine {
  border-top: 1px solid #ebeaea;
}
