*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 16px is browser default */
  font-size: 62.5%; /* 1rem = 10px; 10px/16px = 62.5% */
}

body {
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.container {
  display: grid;
  grid-template-rows:
    [header-start] min-content
    [header-end carouselGrid-start] min-content [carouselGrid-end recommended-start] 83vh [recommended-end]
    repeat(2, 53vh)
    [eid-start] min-content [eid-end]
    55vh
    [brands-start] 20vw [brands-end]
    repeat(2, min-content);
  grid-gap: 2rem;
}

.sponsoredProducts {
  background-color: chartreuse;
}

.about {
  margin: 0 2rem;
  background-color: darkred;
}

.footer {
  background-color: indianred;
}

.horizontalLine {
  border-top: 1px solid #ebeaea;
}
